body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
h1{
    font-size: 40px;
}
.heading{
    color:orange;
}
.top-banner{
    display:flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
    
    
}   
.half-width{

    width:50%;
    padding-left:3%
}
.half-width img{
    width:80%
}
.button{
    text-decoration: none;
    background-image: linear-gradient(to right, orange , tomato);
    padding:10px 40px;
    color:white;
    border-radius:5px;
    font-weight: 700;
}
.text-side p{
    text-align: justify;
}
.dream-big{
    display:flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.Rbutton{
    background-image:linear-gradient(to right,orange, tomato);
    padding:9px 40px;
    border:none;
    border-radius: 7px;
    font-weight: bold;
    color:white;
}
.experiences{
    display:flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    position: left;
    margin-bottom: 100px;
    



}
.new-style{
    margin-left:50px;
    margin-right:50px;
    box-shadow: 10px 10px 40px gray;

    padding-bottom: 50px;
    padding-top: 50px;
   
  
   
    
}
.border-2{
    border-left:7px solid tomato;
}
.border-1{
    border-left:7px solid blue;
}